@charset "UTF-8";
/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: blue;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 450px;
    font-size: 50px;
}
